.button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;

  display: inline-flex;
  align-items: center;
  transition:
    background 0.25s ease,
    transform 0.12s ease;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: scale(0.95);
}
