/* Portfolio.module.css */
@reference "tailwindcss";

/* only small custom transitions */
.cardTitle {
  color: #5e3c40;
}

.arrow {
  margin-left: 0.4rem;
  transition: margin-left 0.2s ease;
}

.card:hover .arrow {
  margin-left: 0.8rem;
}
